{{ define "index" }} 
{{ template "header" }}

<div class="container mx-auto">
<div class="alert alert-success">
<div class="mt-2">
<a href="/start" class="btn btn-lg btn-success">Start Personality test </a>
<a href="/result" class="btn btn-lg btn-info">Check last result </a>

</div>

</div>
</div>

{{ template "footer"}}
{{ end }}